<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- ==================================================== -->
	<!-- Database configuration -->
	<!-- ==================================================== -->
	<import resource="classes/resources/config/spring/DataSource.xml" />
	<import resource="classes/resources/config/spring/HibernateSessionFactory.xml" />


	<!-- ==================================================== -->
	<!-- Beans Declarations - DAO -->
	<!-- ==================================================== -->
	<bean id="funcionarioDao" class="br.fpu.tcc.hotelaria.model.dao.impl.FuncionarioDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="clienteDao" class="br.fpu.tcc.hotelaria.model.dao.impl.ClienteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="quartoDao" class="br.fpu.tcc.hotelaria.model.dao.impl.QuartoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="reservaDao" class="br.fpu.tcc.hotelaria.model.dao.impl.ReservaDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- ==================================================== -->
	<!-- Beans Declarations - BO -->
	<!-- ==================================================== -->
	<bean id="funcionarioBo" class="br.fpu.tcc.hotelaria.model.bo.impl.FuncionarioBoImpl">
		<property name="funcionarioDao" ref="funcionarioDao" />
	</bean>

	<bean id="clienteBo" class="br.fpu.tcc.hotelaria.model.bo.impl.ClienteBoImpl">
		<property name="clienteDao" ref="clienteDao" />
	</bean>

	<bean id="quartoBo" class="br.fpu.tcc.hotelaria.model.bo.impl.QuartoBoImpl">
		<property name="quartoDao" ref="quartoDao" />
	</bean>

	<bean id="reservaBo" class="br.fpu.tcc.hotelaria.model.bo.impl.ReservaBoImpl">
		<property name="reservaDao" ref="reservaDao" />
	</bean>

</beans>